<router-outlet />
<div class="app-container" *ngIf="weatherService.loading==false">
    <div class="weather-container">
        <div class="left-container">
            <app-left-container />
        </div>
        <div class="right-container">
            <app-right-container />
        </div>
    </div>
</div>

<!-- *ngIf="weatherService.week==true" -->

<div class="lds-roller" *ngIf="weatherService.loading==true">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>