<router-outlet />
<div class="app-container" *ngIf="weatherService.loading==false">
    <div class="weather-container">
        <div class="left-container">
            kk{{weatherService.loading}}
            <app-left-container />

        </div>
        <div class="right-container">
            <app-right-container />
        </div>
    </div>
</div>

<!-- *ngIf="weatherService.week==true" -->
<!-- *ngIf="weatherService.loading==true" -->
<div class="loader-container" *ngIf="weatherService.loading==true">
    
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>